
@color-off:        #EF233C;
@color-light:      #edf2f4;
@color-dark:       #2B2D42;
@color-wf-red:     #AC030A;
@color-wf-grey:    #999D98;

@col-count: 20;
@row-count: 11;

@col-max: 4;
@row-max: 3;

@top-bar-height: 100px;
@left-bar-width: 100px;
@right-bar-width: 250px;

@font-large: 75px;
@font-med: 25px;
@font-small: 20px;

/* ==================================== SETUP + CONTAINS ==================================== */

.iframe {
	width: 40px;
}

.center-text {
	text-align: center;
}

/* ==== Standard Body Style ==== */
body {
	margin: 0;
	padding: 0;
	font-family: roboto;
	background-color: #242425;
}

a {
	text-decoration: none;
}

.facebook {

	transition: all 2ms;
	width: 100%;


	&:hover {
		margin: auto;
		opacity: 0.8;
	}

	img {
		width: 95%;
		margin: 2.5%;
	}
}



/* ==== Contains ==== */
.contain {
	display: grid;
	grid-template-columns: @left-bar-width 1fr @right-bar-width;
	grid-template-rows: @top-bar-height 1fr;
}

/* ==== Space Around / Between ==== */
.space-arround {
	display: flex;
	justify-content: space-around;
}

.space-between {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

/* Area Between Left / Right / Top Bars*/
.content {
	grid-column: 2;
	grid-row: 2;
	background-color: @color-wf-grey;
	padding: 40px;
	position: relative;
	height: unset;
}

/* ==================================== BARS ==================================== */

/* ==== TOP BAR ====*/
.top-bar {
	
	display: flex;
	grid-column: 1 e("/") @col-max;
	grid-row: 1;
	background-color: @color-light;
	border-bottom: 8px solid @color-wf-red;

	a {
		display:flex;
	}

	/* WF Logo */
	img {	
		display: inline-block;
		align-self:center;
		height: 70px;
		margin: 0 15px 0 25px;	
	}

	/* Wolvenfang Text */
	div {
		font-size: @font-large;
		margin-left: 20px;
	}

}

/* ==== RIGHT BAR ==== */
.right-bar {
	grid-column: 3;
	grid-row: 2 e("/") @row-max;
	background-color: @color-dark;
}


/* ==== Left Bar ==== */
.left-bar {
	grid-column: 1;
	grid-row: 2;
	background-color: @color-dark;

	a {
		color: inherit;
	}

	.left-bar-item {
		display: flex;
		height: 90px; width: @left-bar-width;
		padding: 15px 0 15px 0;
		color: #edf2f4;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		transition: all .2s;
		font-size: 18px;

		&:hover {
			background-color: rgba(153,157,152,0.2);
		}

		img {
			width: 70%;
			margin: 0 auto 0 auto;
		}
	}
}

/* ==================================== COMPONENTS ==================================== */
.feild-day {
	height: 300px;
	width: 48%;
	background-color: #edf2f4;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	margin: 0 0 20px 0;
	font-size: @font-med;

	&:hover div:nth-of-type(1) {			
	}

	&:hover div:nth-of-type(2) {
		border-top: 8px solid @color-wf-red;
		height: 242px;			
	}	
	
	div {
		display:flex;
		width: 100%;
		text-align: center;
		justify-content:center;
		flex-direction: column;
		transition: border .2s, height .2s;
		border-top: 0px;
		
	}

	div:nth-of-type(1) {
		height: 50px;
		background-color: @color-dark;
		color: @color-light;
	}

	div:nth-of-type(2) {
		height: 250px;
	}
}

.mapOne {
	background-image: url("../img/feildSummer.png");
	background-position: center;
}

.mapTwo {
	background-image: url("../img/feildSat.png");
	background-position: center;
}


.text-content {
	display: block;
	background-color: #edf2f4;
	padding: 20px;
	margin: 0 0 20px 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

	span:nth-of-type(1) {
		font-size: @font-med;
	}
	span:nth-of-type(2) {
	}

}

/* ==== Clickable Link To A File ==== */
.social {
	width: 100%;
	height: 50px;
	background-color: blue;
	display: flex;
	color: #edf2f4;
	text-align: center;
}


/* ==== Clickable Link To A File ==== */
.file {

	width: 100%;
	height: 40px;
	background-color: @color-light;
	margin: 0 0 10px 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	display: flex;	

	a {
		display:flex;
		width: 100%;
	}

	.file-icon {
		
		display: inline-flex;
		justify-content: center;
		height: 100%; 
		width: 40px;
		background-color: @color-light;

		img {
			width: 78%;
			height: 78%;
			align-self: center;
		}
	}

	span {
		margin: 0 0 0 10px;
		align-self: center;
		font-size: @font-small;
	}

}

/* ==== Element W. Picture and Link ==== */
.image-link {
	
	display: inline-block;
	height: 200px; width: 260px;
	margin: 0 0 20px 0;	
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	
	
	/* ==== Image ==== */
	div:nth-of-type(1) {
		
		height: 160px;				
		img {
	
			width: 100%;
		}
	}
	
	/* ==== Div Containing Text ==== */
	div:nth-of-type(2) {
		background-color: @color-light;
		height: 40px;
		display: flex;
		justify-content: center;

		a {
			align-self: center;
			color: @color-dark;
			font-size: @font-med;
		}
	}
}

/* ==== Event Class ==== */
.event {
	height: 100px;
	background-color: @color-light;
	margin: 0 0 20px 0;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

	/* ==== Event Class Left ==== */
	
	/* "5 May" Date Container */
	.event-date {	
		height: 100px; width: 100px;
		background-color: @color-dark;
		text-align: center;
		display: inline-block;
		color: #ffffff;
	
		/* "5" Number Of Date */
		span:nth-of-type(1) {
			font-size: @font-large;
			line-height: 75px;	
		}

		/* "May" Month Of Date */
		span:nth-of-type(2) {
			font-size: @font-med;
			line-height: 10px;
		} 
	}

	/* "Event Details " */
	.event-details  {
		margin: 10px 0 0 20px;
		display: inline-block;
		width: ~"calc(100% - 130px)";
		vertical-align: top;
	
		span:nth-of-type(1) {
			font-size: 25px;
			font-weight: 600;
		}
		
		span:nth-of-type(2) {
		}
	}
}

.link {
	display: flex;
	height: 50px; width: 260px;
	margin: 0 0 20px 0;	
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	background-color: @color-light;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	color: @color-dark;
	font-size: @font-med;
}

.thirds {
	display: flex;
	width: 260px;
	margin: 0 0 20px 0;	
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	background-color: @color-light;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	color: @color-dark;
	font-size: @font-med;
}

.eventImgOne {
	float: right;
	width: 200px;
	height: 100%;
	margin: 0 5px 0 40px;
}




/* Style the tab buttons */
.tablink {
    background-color: @color-dark;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
	width: 25%;
	transition: all .2s;
	display: inline-block;
}

/* Change background color of buttons on hover */
.tablink:hover {
	background-color: @color-light;
	color: @color-dark !important;
}

/* Set default styles for tab content */
.tabcontent {
	display: none;
	text-align: center;
	height: 300px;
	box-shadow: none !important;
}