
@color-off:        #EF233C;
@color-light:      #edf2f4;
@color-dark:       #2B2D42;
@color-wf-red:     #AC030A;
@color-wf-grey:    #999D98;

@col-count: 20;
@row-count: 11;

@col-max: 23;
@row-max: 13;

@top-bar-height: 100px;
@left-bar-width: 75px;
@right-bar-width: 250px;

@font-large: 75px;
@font-med: 25px;
@font-small: 20px;


/* ==== Standard Body Style ==== */
body {
	margin: 0;
	padding: 0;
	font-family: roboto;
	background-color: #242425;
}

/* ==== Contains ==== */
.contain {
	display: grid;
	grid-template-columns: @left-bar-width repeat(@col-count, 1fr) @right-bar-width;
	grid-template-rows: @top-bar-height repeat(@row-count, 1fr);
}

/* ==== Center / Space Around ==== */
.contain-space-arround {
	display: flex;
	justify-content: space-around;
}


/* ==== Left Menu Bar ==== */
.left-bar {
	grid-column: 1;
	grid-row: 2 e("/") @row-max;
	background-color: @color-dark;

	.left-bar-item {
		display: block;
		height: 80px; width: @left-bar-width;
		margin: 20px auto 20px auto;
	}
}

.right-bar {
	grid-column: 22 e("/") @col-max;
	grid-row: 2 e("/") @row-max;
	background-color: @color-dark;
}


/* ==== TOP BAR ====*/
.top-bar {
	
	display: flex;
	grid-column: 1 e("/") @col-max;
	grid-row: 1;
	background-color: @color-light;
	border-bottom: 8px solid @color-wf-red;

	/* WF Logo */
	img {	
		display: inline-block;
		align-self:center;
		height: 85px;
		margin-left: 20px;	
	}

	/* Wolvenfang Text */
	div {
		font-size: @font-large;
		margin-left: 20px;
	}

}

/* Area Between Left / Right / Top Bars*/
.content {
	grid-column: 2 e("/") @col-max;
	grid-row: 2 e("/") @row-max;
	background-color: @color-wf-grey;
	z-index: -1;
}

.half {
	display: inline-block;
	height: 200px; width: 45%;
	background-color: red;
}

.file {

	grid-column: 3 e("/") 15;
	grid-row: 3;

	/*height: 30px;*/ 
	background-color: white;

	.file-icon {
		
		display: inline-flex;
		justify-content: center;
		height: 100%; width: 30px;

		i {
			align-self: center;
		}
	}

	.file-details {
		font-size: @font-small;
		height: 100%; width: 870px;
		display: inline;
	}
}

/* ==== Image + Link w. Text ==== */
.image-link {
	
	display: inline-block;
	height: 200px; width: 260px;
	
	
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	
	
	/* ==== Image ==== */
	div:nth-of-type(1) {
		
		height: 160px;		

		
		background-color: red;		
		img {
			
			width: 100%;
		}
	}
	
	/* ==== Div Containing Text ==== */
	div:nth-of-type(2) {
		background-color: @color-light;
		height: 40px;
		display: flex;
		justify-content: center;

		a {
			align-self: center;
			color: white;
			font-size: @font-med;
		}
	}
}

/* ==== Event Class ==== */
.event {
	height: 100px; width: 800px;
	background-color: grey;
	margin: 40px;

	/* ==== Event Class Left ==== */
	
	/* "5 May" Date Container */
	.event-date {	
		height: 100px; width: 100px;
		background-color: orange;
		text-align: center;
		display: inline-block;
	
		/* "5" Number Of Date */
		span:nth-of-type(1) {
			font-size: @font-large;
			line-height: 75px;	
		}

		/* "May" Month Of Date */
		span:nth-of-type(2) {
			font-size: @font-med;
			line-height: 10px;
		} 
	}

	/* ==== Event Class Right ==== */
	
	/* "Event Details " */
	.event-details  {
		display: inline-block;
		color: white;
		width: 650px;
		margin-left: 12px;
	
		span:nth-of-type(1) {
			font-size: 25px;
			font-weight: 600;
		}
		
		span:nth-of-type(2) {
			
		}
	
	}

}





